body{
    font-size: 1.2rem;
}


li{
    float: right;
    list-style: none;
    padding: 10px;
    background-color: #a3b5e7;
    margin: 5px;
   }

/* 
    float é uma prpriedade que permiti que o elemento fique flutuadno do lado de outro elemento 
*/
 