.quadrado{
    width:100px;
    height:100px;
}

.quadrado-red{
    background-color:red;
    position:sticky;
    top: 0;
    width: 100%;

      /* 
        O STICKY permiti que os outros elementos se posicionem  no fluxo natural da aplicação mas que se rolar 
        ele ficará preso no lugar. Quando se quer que a barra exista , que os outros continuem entendendo que existe um elemento ali. 
        O ABSOLUTO faria com que os elementos de baix ocupase o espaço dela como se ela não exixtisse. O FIXED também faria o mesmo
    */
}

.quadrado-blue{
  
    background-color:blue;
}

.quadrado-green{
    background-color:green;
}

.quadro{
    border:1px solid gray;
    width:500px;
    height:4000px;
}
