body{
    font-size:1.2rem;
}

/* 
                UTILIZANDO OVERFLOW
    Utilizando o overlow se consegue delimitar qual é o 
    espaço do container e não ter o conteúdo saindo dessa caixa 
*/

#container{
    color:darkmagenta;
    background-color:blue;
    width:300px;
    height:100px;
    overflow:visible;
        /* 
            Exemplo: overflow:visible;
           Serve para aparecer toda a parte do container que está com efeito background
        */
}

#container2{
    background-color:cyan;
    width:300px;
    height:100px;
    overflow:hidden;
        /* 
            Exemplo: overflow:hidden;
           Serve para ficar escondido a parte do conteúdo que sairia pra fora do container que está com efeito background
        */
}

#container3{

    background-color:yellow;
    width:300px;
    height:100px;
    overflow:scroll;
        /* 
            Exemplo: overflow:scroll;
           O scroll da o efeito de rolagem no background, para mostrar todo o texto sem sair pra fora
        */
}

#container4{
    background-color:green;
    width:300px;
    height:100px;
    overflow:auto;
        /* 
            Exemplo: overflow:auto;
                      PORÉM ele cria uma barra de rolagem para o lado mesmo sem ter para não fiar esse efeito usa-se 
        */
}

#container5{
    background-color:pink;
    width:300px;
    height:100px;
    overflow-x:scroll;
}
    /* 
        overflow:scroll cria uma barra de rolagem para o lado,
        para não ficar esse efeito pode ser usado 
        Exemplo: overflow-y:scroll; Caso seja vertical
        Exemplo: overflow-x:scroll; Caso seja horizontal X
        
    */
